body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-areas:
        "header header" "aside main" "footer footer";
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}

header {
    grid-area: header;
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

aside {
    grid-area: aside;
    background-color: #f4f4f4;
    padding: 20px;
}

main {
    grid-area: main;
    padding: 20px;
    background-color: #eaeaea;
}

footer {
    grid-area: footer;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

.vertical-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.vertical-menu li {
    margin-bottom: 10px;
}

.vertical-menu li a {
    display: block;
    background-color: #333;
    color: white;
    text-decoration: none;
    padding: 10px;
    text-align: center;
}

.vertical-menu li:hover {
    background-color: #575757;
    color: white
}

.products {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.product {
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    width: calc(33.333% - 20px);
    box-sizing: border-box;
    text-align: center;
    justify-content: center;
}


.product h3 {
    margin: 10px0;
    font-size: 18px;
}

img {
    height: 200px;
    width: 200px;
}

.btn-comprar {
    background-color: #007bff;
    /* Fondo azul */
    color: white;
    /* Texto en blanco */
    padding: 10px20px;
    text-align: center;
    /* Alineación del texto */
    border-radius: 5px;
    /* Bordes redondeados */
    display: flex;
    /* Flexbox para centrar el texto */
    justify-content: center;
    /* Centrado horizontal */
    align-items: center;
    /* Centrado vertical */
    cursor: pointer;
    /* Cambiar cursor a mano */
    /* Ancho del botón */
    height: 50px;
    /* Alto del botón */
}

.btn-comprar:hover {
    background-color: #0056b3;
    /* Fondo más oscuro en hover */
}